<div calss="form-data">
    <form action="/courses/create" method="POST">
        <label for="txtTitle">Name</label>
        <input type="text" name="title" id="txtTitle" autofocus>
        <label for="txtDescription">Description</label>
        <input type="text" name="description" id="txtDescription" required>
        <label for="txtZipCode">zip Code</label>
        <input type="text" name="zipCode" id="txtZipCode" required>
        <label for="numCost">Cost</label>
        <input type="number" name="cost" id="numCost" required>
        <label for="maximumStudents">Maximum Number of Students: </label>
        <input type="number" name="maxStudents" id="maximumStudents" required>
        <button type="submit">Create</button>
    </form>
</div>